<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sehakhanah.patientapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".modules.base.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.muslim_adel.sehaty.modules.register.VerificationPhonActivity"></activity>
        <activity android:name=".modules.pharmacy.PharmacyProfileActivity" />
        <activity android:name=".modules.pharmacy.PharmaySearchActivity" />
        <activity
            android:name=".modules.register.VerivicationActivity"
            android:label="@string/title_activity_verivication"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".modules.labs.LabBookActivity" />
        <activity android:name=".modules.labs.LabServicesActivity" />
        <activity android:name=".modules.labs.LabDetailsActivity" />
        <activity android:name=".modules.labs.LabsActivity" />
        <activity android:name=".modules.labs.LabsListActivity" />
        <activity android:name=".modules.pharmacy.PharmacyOffersActivity" />
        <activity android:name=".modules.offers.AllCtegoriesActivity" />
        <activity android:name=".modules.offers.CategoryOffersListActivity" />
        <activity android:name=".modules.offers.OfferDetailsActivity" />
        <activity android:name=".modules.contactUs.AboutUsActivity" />
        <activity android:name=".modules.contactUs.ContactUsActivity" />
        <activity android:name=".modules.favorits.FavoritsActivity" />
        <activity android:name=".modules.settings.EditProfileActivity" />
        <activity android:name=".modules.settings.ChangePasswordActivity" />
        <activity android:name=".modules.doctors.booking.BookingSuccessActivity" />
        <activity android:name=".modules.settings.ChangeLanguageActivity" />
        <activity android:name=".modules.doctors.booking.BookingActivity" />
        <activity android:name=".modules.doctors.dates.DatesActivity" />
        <activity android:name=".modules.doctors.doctorProfile.DoctorProfile" />
        <activity android:name=".modules.doctors.doctorsList.DoctorsListActivity" />
        <activity android:name=".modules.doctors.reagons.ReagonsActivity" />
        <activity android:name=".modules.doctors.search.SearchBySpecialityActivity" />
        <activity android:name=".modules.doctors.search.SearchByNameActivity" />
        <activity
            android:name=".modules.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".modules.register.RegisterationActivity" />
        <activity android:name=".modules.register.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.introSlider.IntroWizardActivity" />
        <activity android:name=".modules.home.MainActivity" />
        <activity android:name=".modules.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>